p{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
}

body{
    background-color: yellow;
}

h2 {
    background-color: rgb(235, 101, 13);
    color: rgb(175, 16, 141);
}