p{
    background-color: rgb(236, 36, 226);
    padding: 20px;
    text-align: center;
}

body{
    background-color:rgb(148, 230, 179);
}

h2 {
    background-color: rgb(150, 23, 118);
    color: rgb(165, 142, 160);
}